.pokemons {
  text-align: center;
  padding: 2rem;
  background-color: #fdfd96;
  position: relative;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.pokemon-item {
  position: relative;
  border: 3px solid #333;
  border-radius: 8px;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  width: 150px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.pokemon-item:hover {
  transform: scale(1.05);
}

.pokemon-price {
  font-size: 0.9rem;
  font-weight: bold;
  color: #000;
  margin: 0.1rem 0;
  position: relative;
  top: -10px;
}

.pokemon-id {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
}

.pokemon-image {
  width: 100%;
  height: auto;
  max-height: 140px;
  display: block;
  margin: auto;
}

.pokemon-name {
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #000;
  margin: 0.1rem 0;
  position: relative;
  top: -5px;
}

.info-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  color: #333;
  border-radius: 50%;
  font-size: 1rem;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  cursor: pointer;
}

.search-input {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 200px;
  padding: 0.75rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  outline: none;
}

.search-input:focus {
  border-color: #007bff;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin: 0 auto;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: auto;
  max-width: 90%;
  margin-top: -5px;
}

.counter button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
 

}

.counter button:hover {
  background-color: #e60000;
}

.counter span {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  width: 20px;
  text-align: center;
  
}

.cart-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cart-icon:hover {
  background-color: #0056b3;
}

.cart-bubble {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ff4d4d;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-popup {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: #fff;
  width: 350px;
  max-height: 400px; 
  overflow-y: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
  padding: 1rem;
}

.cart-popup h3 {
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.cart-popup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.cart-item-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-item-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.cart-item-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.cart-item-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-item-controls button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 50%;
  /* Botões redondos */
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  cursor: pointer;
}

.cart-item-controls button:hover {
  background-color: #e60000;
}

.cart-item-price {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  margin-right: 1rem;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.cart-total {
  background-color: #ffcc00;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.checkout-button {
  background-color: #007bff;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #0056b3;
}