.pokemons {
  text-align: center;
  padding: 2rem;
  background-color: yellow; /*mudar cor bg lista*/
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap; /* Para trocar de linha  */
  gap: 1rem; /* Espaço entre as boxes */
  justify-content: center; /* Centrar conteudo */
  background:yellow ; /*mudar cor bg lista*/
}

.pokemon-item {
  position: relative;
  border: 3px solid #333; /* Bordas */
  border-radius: 8px;
  color: #fff; /* Branco */
  padding: 0.5rem; /* Reduz o padding interno */
  text-align: center;
  width: 150px; /* Largura da box */
  height: 220px; /* Altura da box */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}


.pokemon-item:hover {
  transform: scale(1.05); /* Efeito de zoom */
}

.pokemon-id {
  position: absolute;
  top: 10px;
  left: 10px; /* ID no canto superior esquerdo */
  font-size: 0.9rem;
  color: #fff; /* Branco */
  font-weight: bold;
  opacity: 0.8;
}

.pokemon-image {
  width: 100%; /* Faz a imagem ocupar toda a largura do container */
  height: auto; /* Mantém a proporção */
  max-height: 140px; /* Limita a altura máxima da imagem */
  display: block; /* Garante que a imagem seja renderizada corretamente */
  margin: auto; /* Centraliza a imagem no container */
}

.pokemon-name {
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff; /* Branco */
  margin-top: auto; /* Move o nome para a parte inferior */
}

.info-icon {
  position: absolute;
  top: 10px; /* Fixa o ícone no canto superior direito */
  right: 10px;
  background-color: #fff; /* Fundo branco */
  color: #333; /* Cor do texto */
  border-radius: 50%; /* Bordas arredondadas */
  font-size: 1rem; /* Tamanho do texto */
  width: 20px; /* Largura do ícone */
  height: 20px; /* Altura do ícone */
  display: flex;
  align-items: center; /* Centraliza o texto verticalmente */
  justify-content: center; /* Centraliza o texto horizontalmente */
  font-weight: bold;
  text-decoration: none; /* Remove o sublinhado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
  opacity: 0.9; /* Leve transparência */
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Animação no hover */
}
